@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x8a2jo');
  src:  url('../fonts/icomoon.eot?x8a2jo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x8a2jo') format('truetype'),
    url('../fonts/icomoon.woff?x8a2jo') format('woff'),
    url('../fonts/icomoon.svg?x8a2jo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clean-theme:before {
  content: "\e900";
  color: #ffffff;
  font-size: 25px;
}
.icon-download-psd:before {
  content: "\e901";
  color: #ffffff;
  font-size: 35px;
}
.icon-fully-layerd-psd:before {
  content: "\e902";
  color: #ffffff;
  font-size: 25px;
}
.icon-ready-for-coding:before {
  content: "\e903";
  color: #ffffff;
  font-size: 25px;
}
.icon-responsive-design:before {
  content: "\e904";
  color: #ffffff;
  font-size: 25px;
}
